doctype html
head
    title= "Title"
    link(href="./css/style.css" rel="stylesheet")
    script(src="./js/main.js" defer)
body
    h1 Click on the cat
    article
        header
            h2 Name
        figure
            img(src="./img/cat.jpg", class="big small trans")
        p Age: 7
        p Weight 5kg